/* Footer Styles */
footer {
    background-color: black;
    color: white;
    padding: 20px;
}

.links-sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    margin: 10px auto;
}
.link {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 10px;
}

.link li {
    list-style: none;
    line-height: 24px;
}

.link a {
    color: #ccc;
    font-weight: lighter;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #fff;
}

/* Copyright Section Styles */
.copyright-section {
    color: #ccc;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
