/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

body {    
    height: 100vh;    
    line-height: 1.6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
input{
    border: 1px solid grey;
    outline: none;
}
form{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 80%;
    padding: 40px 50px;
}

.header{
    text-align: center;
    margin-bottom: 50px;
}
.header h1{
    margin-bottom: 12px;
}
.header p{
    font-size: 18px;
}
.data-input{
      
    
    margin-bottom: 15px;
}
.data-input label{
    display: grid;  
    margin-bottom: 15px;
    font-size: 22px;
}
.data-input input {
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    border-radius: 5px;
}
.description,
.footer{    
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.description{
    margin-top: 20px;
   margin-bottom: 100px;
}
.description input {
    margin-right: 8px;
}
.description label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.description a{
    color: red;
}
.footer{
   margin-top: 100px;
   margin-bottom: 20px;
}
.footer span{
    font-size: 18px;
}
.footer span a{
    color: red;
}
.footer button{
    background-color: red;
    color: white;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.footer button:hover{
    background-color: white;
    color: red;
}


@media screen and (max-width: 768px) {
    .login-form {
        width: 90%;
        padding: 30px 40px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header p,
    .data-input label,
    .footer span {
        font-size: 16px;
    }

    .data-input input,
    .footer button {
        padding: 12px 10px;
    }

    .footer button {
        padding: 12px 20px;
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    .login-form {
        width: 100%;
        padding: 20px 30px;
    }

    .header h1 {
        font-size: 20px;
    }

    .header p,
    .data-input label,
    .footer span {
        font-size: 14px;
    }

    .description,
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .description label,
    .footer button {
        width: 100%;
    }

    .description span,
    .footer span {
        margin-top: 10px;
    }

    .footer button {
        padding: 10px;
        font-size: 14px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
body {
    animation: fadeIn 0.5s ease-in-out;
}
.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

