* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 50px));
    grid-gap: 15px;
}

textarea {
    background-color: #333;
    font-size: 48px;
    margin-bottom: 20px;
    border: none;
    height: 200px;
    color: white;
    overflow-wrap: break-word;
    width: 100%;
    outline: none;
}

button {
    width: 100%;
    font-size: 36px;
    background-color: #555;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #777;
    transform: scale(1.1);
}

.sign-btn {
    background-color: #ff8c00; 
}

.lastrow-btn {
    width: 45%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e74c3c; 
    color: white;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.last-row{
    display: flex;
    justify-content: space-between;
}

.lastrow-btn:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
    textarea {
        font-size: 36px;
    }
    button {
        height: 80px;
        width: 80px;
        font-size: 24px;
    }
    .grid-row {
        display: grid;
        grid-template-columns: repeat(4, 75px);
        grid-gap: 10px;
    }
    .container {
        width: 350px;
    }
    .lastrow-btn {
        font-size: 20px;
    }
}
