p{
    
    font-family: 'Afacad', sans-serif;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.front-page{
    background-color: rgb(42, 42, 42);
    padding: 12px;
    
}
.logo{
    width: 300px;
}
.header{
    display: flex;
    justify-content:end;
    align-items: center;  
    padding: 20px;
}
.logo-pic{
    height: 50px;
    width: 100%;
    object-fit: cover;
}
.options-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.option{
    margin: 0px 10px;
    cursor: pointer;
    color: white;
    font-size: small;
}
.description{
    font-size: 22px;
}
.job{
    font-size: 34px;
    font-weight: bold;
}
.dev-info{
    display: flex;
    margin: 70px 0px;
    flex-direction: column;
    color: white;
    padding: 16px 40px;
    justify-content: space-between;
    align-items: start;

}

.contact-me{

    width: 120px;
    background-color: rgb(11, 124, 84);
    border: none;
    padding: 10px 0px;
    color: white;
    font-family: ;font-family: 'Afacad', sans-serif;
    margin-top: 8px;
    cursor: pointer;
}

.details-div{
    display: flex;
}
.details{
    padding: 12px 24px
}
.top-text{
    color: white;
    font-size: 12px;
    margin-bottom: 8px;
}

.bottom-text{
    font-size: 10px;
    color: grey;
}
.second-page{
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    
    

}
.who-am-i{
    color: darkgreen;
    font-weight: bold;
}
.dev-details{
    color: white;
    margin-left:24px;
}

.info2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}
.form{
    font-size: 12px;
}
.about{
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 12px;
}

.information{
    font-size: 22px;
    color: lightgray;
}

.dev-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.download{
    width: 120px;
    background-color: rgb(11, 124, 84);
    border: none;
    padding: 8px 0px;
    color: white;
    font-family: ;font-family: 'Afacad', sans-serif;
    margin-top: 8px;
    cursor: pointer;
}
.third-page{
    background-color: rgb(16, 16, 16);
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px 20px;
    margin-left: 50px;
    cursor: pointer;
    column-gap: 10px;
    row-gap: 10px;
}

.project-logo{
    margin-left: 70px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    
}

.projects:hover{
    
}
.project-info{
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    padding: 20px;
    background-color: rgb(22,22,22);
}
.project-info:hover{
    background-color: rgb(22,22,22);
}
.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-details{
    font-size: 16px;
    color: gray;
}
.project-name{
    color: white;
    font-size: 22px;
}

.project-logo{
    font-family: 'Londrina Outline', sans-serif;
    font-weight: lighter;
    font-size: 100px;
    position: relative;
    opacity: 0.3;
}
.project-heading{
    position: absolute;
    font-family:'Afacad', sans-serif ;
    font-size: 60px;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    

}

