.projects-page{
    background-color: rgb(16, 16, 16);
}

.project-logo{
    font-family: 'Afacad', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:20px;   
    cursor: pointer;
    column-gap: 10px;
    row-gap: 10px;
}
.project-info{
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    padding: 20px;
    background-color: rgb(22, 22, 22);
}
.project-container{
    display: flex;
}
.project-details{
    font-size: 16px;
    color: gray;
}
.project-name{
    color: white;
    font-size: 22px;
    text-decoration:none;
}


.project-link {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 680px) {
  .projects{
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .project-logo {
    margin-left: 0;
  }
}

