.skills-page {
    background-color: rgb(16, 16, 16);
    width: 100%;
    padding: 50px 0; /* Adjust as needed */
}

.skill-logo {
    font-family: 'Afacad', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.skill-info {
    color: white;
    padding: 20px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.skill-info:hover {
    background-color: #3c3c3c;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-name {
    color: white;
    font-size: 22px;
    margin-bottom: 10px;
}

.skill {
    border: 2px solid #f70a0a;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.skill:hover {
    border-color: #ff4500;
    color: #ff4500;
}

.skill-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 680px) {
  .skills{
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .project-logo {
    margin-left: 0;
  }
}
