/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Global Reset and Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

body {
    background-color: rgb(249, 246, 241);  
    height: 100vh;    
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    position: fixed;
    background-color: rgb(249, 246, 241);     
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;  
    border-bottom: 2px solid grey;
}

header, nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header nav button {
    margin: 0 10px;
}

.product-logo, .footer-logo {
    width: 300px;
    height: auto;
    padding: 18px;
}

.product-logo img {
    width: 100%;
}

.nav-bar button {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
}

.nav-bar button:hover {
    color: red;
    transform: scale(0.9);
}

.nav-bar button i {
    font-size: 50px;
}

/* Main Section Styles */
main {
    margin-top: 120px;
}


/* Menu Styles */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-row {
    position: relative;
    background-color: rgb(71, 71, 71);
    padding: 25px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 75%;            
    z-index: 100;
    
}

.cancel-btn {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: 120;
    padding: 6px;
    font-size: 22px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.search-box input {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    height: 20px;
    padding: 6px;
    border: none;      
    font-size: 18px;
    outline: none;
    font-weight: bold;
    transition: all 1s ease;
}

input::placeholder {
    color: white;
    font-weight: bold;
}

.menu-btn {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: rgb(20, 26, 33);
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    z-index: 150;
}

.menu-btn:hover {
    transform: scale(1.1);
}

.menu-list{
    position: absolute;      
    left: 0;
    right: 0;
    top: 85px;
    width: auto;       
    z-index: 149;
    background-color: rgb(71, 71, 71);
    padding: 0px 25px;
    display: none; 
}

.menu-list.show {
    display: block;
    animation: slideIn 0.5s ease-in-out;
}

.menu-list li {
    list-style: none;
    line-height: 40px;
    
}
.menu-list a{
    width: 100%;
    transition: all 0.15s ease-in-out;
}

.menu-list a:hover{
    transform: scale(1.1);
    color: red;
    
}
/* Footer Styles */
footer {
    background-color: black;
    color: white;
}

.links-sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    margin: 10px auto;
}

.link {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 10px;          
}

.link li {
    list-style: none;
    line-height: 24px;
}

.copyright-section {
    color: gray;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.link a {
    color: gray;
    font-weight: lighter;  
    margin: 3px 0;
}

/* Hero Section Styles */
.hero-section {
    margin: auto 150px;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px; 
    
}

.collection-grid div{
    transition: transform 0.3s ease;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);    
    text-align: center;
    position: relative;
}

.collection-grid div:hover {        
    transform: scale(1.05); 
}
.collection-grid img {
    width: 100%;             
}
.collection-grid span{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 0;
    width: 100%;
    background-color: black;
    color: white;
    
}
/* Responsive Design Styles */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    header {
        flex-direction: column; 
    }

    main {
        margin-top: 150px;
    }

    .product-logo, .footer-logo {
        width: 50%;
    }  

    .nav-bar button {
        width: 50px;
        height: 50px;    
    }          

    .nav-bar button i {
        font-size: 30px;
    }

    .search-box {
        width: 60%; 
        left: 40%;
    }

    .cancel-btn {
        right: 5px; 
    }

    .hero-section {
        margin: 0;
    }

    .link-section {
        grid-template-columns: 1fr;
        margin-left: 0;
        text-align: center;
    }

    .copyright-section {
        font-size: 12px;
    }
}
