/* main.css */

main {
    margin-top: 120px;
    margin-bottom: 120px;
}

.landing-section {
    text-align: center;
}

.landing-section img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    object-fit: cover;
}

.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
    right: 50px;
}

.swiper-button-prev {
    left: 50px;
}

.nav-btn::before,
.nav-btn::after {
    font-size: 25px;
    color: #fff;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #c87e4f;
}
.hero-section {
    padding: 20px;
    margin: auto 120px;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.collection-grid div {
    transition: transform 0.3s ease;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.collection-grid div:hover {
    transform: scale(1.05);
}

.collection-grid img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.collection-grid div:hover img {
    transform: scale(1.1);
    
}

.collection-grid span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .hero-section {
        margin: auto 20px;
    }
}
