
@media only screen and (min-width: 576px) and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    .hero-section,
    .trending-section {
        padding: 20px;
    }
    .nav-bar button {
        width: 60px;
        height: 60px;
    }
    .nav-bar button i {
        font-size: 24px;
    }
    .search-box {
        width: 50%;
        left: 50%;
    }
    .link-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .trending-header h1 {
        font-size: 22px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 18px;
    }
    header {
        flex-direction: row; /* Reset to default for larger screens */
    }
    main {
        margin-top: 100px;
    }
    .nav-bar button {
        width: 70px;
        height: 70px;
    }
    .search-box {
        width: 50%;
        left: 50%;
    }
    .link-section {
        grid-template-columns: repeat(3, 1fr);
    }
    .trending-header h1 {
        font-size: 24px;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 20px;
    }
    .hero-section,
    .trending-section {
        padding: 30px;
    }
    .nav-bar button {
        width: 80px;
        height: 80px;
    }
    .nav-bar button i {
        font-size: 36px;
    }
    .search-box {
        width: 80%;
        left: 10%;
    }
    .link-section {
        grid-template-columns: repeat(4, 1fr);
    }
    .trending-header h1 {
        font-size: 26px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 22px;
    }
    .hero-section,
    .trending-section {
        padding: 40px;
    }
    .nav-bar button {
        width: 90px;
        height: 90px;
    }
    .nav-bar button i {
        font-size: 40px;
    }
    .search-box {
        width: 80%;
        left: 50%;
    }
    .link-section {
        grid-template-columns: repeat(5, 1fr);
    }
    .trending-header h1 {
        font-size: 28px;
    }
}
