.home-page,
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content{
    flex-direction: column;
    align-items: start;
    
}

.heading{
    font-size:clamp(40px,80px,100px );
    font-weight: 700;
    background: linear-gradient(to right, #5A2A1C, #220F0A);
    -webkit-background-clip: text;
    color: transparent;
}

.description{
    font-size:clamp(40px,60px,80px );
    font-weight: 500;
    color: #5A2A1C;
}

.description-2{
    font-size:clamp(20px,40px,60px );
}